body{
    font-family: Verdana;
    text-align: center;
}

#myButton{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
    color: hsl(229, 100%, 50%);
    background-color: hsl(86, 100%, 50%);
}

.myLabels{
    font-size: 3em;
}
#myButton:hover{
    cursor: pointer;
    background-color: hsl(110, 100%, 62%);
}